<mat-form-field>
  <mat-label>Nombre de contacto</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Apellido</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Número telefónico</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Email (opcional)</mat-label>
  <input matInput>
</mat-form-field>
<div>
  <button class="save-button">
    Guardar
  </button>
  <button class="cancel-button" (click)="closeForm()">
    Cancelar
  </button>
</div>
